{% extends "layout.html" %}
{% block content %}

<form action="/verify-email" method="post">
    <div style="align-items: center; ;padding: 10px; border: 10px">
        <div class="row">
            <h4> OTP has been sent to the email id. Please check the email for the confirmation.</h4>
            <div class="col">
                <label>Enter OTP(One-Time Password):</label>
                <input name="otp" type="text">
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
</form>


{% endblock %}
